<h1>All Articles</h1>

<p><%= link_to "Add new article", new_article_path %></p></br>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
	<% @articles.each do |article| %>
    <tr>
      <th scope="row"></th>
      <td><%= article.title %></td>
      <td><%= article.description %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Preview', article_path(article) %></td>
      <td><%= link_to 'Remove', article_path(article), method: 'delete', data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>


